<!DOCTYPE HTML>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en-gb" class="no-js"> <!--<![endif]-->
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <style>
        .h22{
            text-align:center;
        }
    </style>
</head>
<body>
	<!--wrapper starts-->
    <div class="wrapper">
        <!--header starts-->
        <!--header ends-->
        <!--main starts-->
        <div id="main">
            <!--breadcrumb-section starts-->
            <div class="breadcrumb-section">
                <div class="container">
                    <h1></h1>
                    <div class="breadcrumb">
                        <a href=""></a>
                        
                        <a href=""></a>
                        
                        
                    </div>
                </div>
            </div>
            <!--breadcrumb-section ends-->
            <!--container starts-->
            <div class="container">
                <!--primary starts-->
                <section id="primary" class="content-full-width">

                    <h2 class="h22">Activities for Children</h2>
                    <div class="dt-sc-pricing-table">
                        <div class="column dt-sc-one-fourth first">
                            <div class="dt-sc-pr-tb-col mustard">
                                <div class="dt-sc-tb-header">
                                    <div class="dt-sc-tb-header-img">
                                        <img src="~/Images/mickey.png" alt="" title="">
                                    </div>
                                    <div class="dt-sc-tb-title">
                                        <h5>English Learning</h5>
                                    </div>
                                    <div class="dt-sc-price"> 
                                        <img src="~/Images/x.png" alt="" title=""> </div>
                                </div>
                                <ul class="dt-sc-tb-content">
                                    <li><a href="@Url.Action("English", "English")"><h4> View All </h4></a></li>
                                    @*<li>Indoor Activity</li>
                                    <li>Outdoor Activity</li>
                                    <li>Study Schedule</li>
                                    <li>Junior Kids</li>*@
                                </ul>
                                @*<div class="dt-sc-buy-now"> <a class="dt-sc-button small mustard" target="_blank" href="" @Url.Action("English", "English") "> View All </a> </div>*@
                                
                            </div>
                        </div>
                        <div class="column dt-sc-one-fourth">
                            <div class="dt-sc-pr-tb-col green">
                                <div class="dt-sc-tb-header">
                                    <div class="dt-sc-tb-header-img">
                                        <img src="~/Images/tweety.png" alt="" title="">
                                    </div>
                                    <div class="dt-sc-tb-title">
                                        <h5>Arts &amp; Craft</h5>
                                    </div>
                                    <div class="dt-sc-price"> <img src="~/Images/g.jpg" alt="" title="">
 </div>
                                </div>
                                <ul class="dt-sc-tb-content">
                                    <li><a href="@Url.Action("Arts", "Arts")"><h4> View All</h4></a></li>
                                    @*<li>Indoor Activity</li>
                                    <li>Outdoor Activity</li>
                                    <li>Study Schedule</li>
                                    <li>Junior Kids</li>*@
                                </ul>
                                  </div>
                        </div>
                        <div class="column dt-sc-one-fourth">
                            <div class="dt-sc-pr-tb-col pink">
                                <div class="dt-sc-tb-header">
                                    <div class="dt-sc-tb-header-img">
                                        <img src="~/Images/butterfly.png" alt="" title="">
                                    </div>
                                    <div class="dt-sc-tb-title">
                                        <h5>Maths Learning </h5>
                                    </div>
                                    <div class="dt-sc-price"> 
                                        <img src="~/Images/z.jpg" alt="" title="">
 </div>
                                </div>
                                <ul class="dt-sc-tb-content">
                                    <li><a href="@Url.Action("Maths", "Maths")"><h4>View All </h4></a>
</li>
                                    
                                </ul>
                                     </div>
                        </div>
                        <div class="column dt-sc-one-fourth">
                            <div class="dt-sc-pr-tb-col blue">
                                <div class="dt-sc-tb-header">
                                    <div class="dt-sc-tb-header-img">
                                        <img src="~/Images/girl.png" alt="" title="">
                                    </div>
                                    <div class="dt-sc-tb-title">
                                        <h5>General Knowledge </h5>
                                    </div>
                                    <div class="dt-sc-price"> <img src="~/Images/c.png" alt="" title="">
 </div>
                                </div>
                                <ul class="dt-sc-tb-content">
                                    <li><a href="@Url.Action("G_K", "G_K")"><h4> View All </h4></a></li>
                                </ul>
                                  </div>
                        </div>
                    </div>
                    </section>
            </div>
            <!--wrapper ends-->
            <a href="our-staffs.html" title="Go to Top" class="back-to-top">To Top ↑</a>
            <!--Java Scripts-->

</body>
</html>
