<!DOCTYPE HTML>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en-gb" class="no-js"> <!--<![endif]-->
<head>

<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
<title>Kids Life- Home</title>
<meta name="description" content="">
<meta name="author" content="">
    <style>
        .hr1 {
            height:3px;
            border-top-color:red;
            background-color:maroon;
        }
         .hr2 {
            height:3px;
            border-top-color:blue;
            background-color:blue;
        }
          .hr3 {
            height:3px;
            border-top-color:red;
            background-color:red;
        }
           .hr4 {
            height:3px;
            border-top-color:red;
            background-color:green;
        }
    </style>
    </head>
<body class="main">
	<!--wrapper starts-->
    <div class="wrapper">
        <!--header starts-->

        <!--..........Header Placed in Layout..................................................-->
        
        <!--header ends-->
        <!--main starts-->
        <div id="main">
         
            <!--slider starts-->
            <div id="slider"> 
                <div id="layerslider_4" class="ls-wp-container" style="width:100%;height:610px;max-width:1920px;margin:0 auto;margin-bottom: 0px;">
                    <div class="ls-slide" data-ls="slidedelay:7000; transition2d: all;">
                        <img src="~/Images/bb.jpeg" class="ls-bg" alt="Slide background" />
                        <img class="ls-l" style="top:120px;left:530px;white-space: nowrap;" data-ls="offsetxin:0;delayin:800;easingin:easeOutElastic;skewxin:30;skewyin:30;transformoriginin:50% 0% 50%;offsetxout:0;parallaxlevel:1;" src="~/Images/bring.png" alt="">
                        <img class="ls-l" style="top:420px;left:-375px;z-index:100;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:80;delayin:500;offsetxout:0;offsetyout:-80;" src="~/Images/grass.png" alt="">
                       
                        
                       
                        
                         <img class="ls-l" style="top:185px;left:530px;white-space: nowrap;" data-ls="offsetxin:2;delayin:1000;rotatexin:90;rotateyin:90;offsetxout:0;parallaxlevel:-1;" src="~/Images/fun.png" alt="">
                        <img class="ls-l" style="top:252px;left:507px;white-space: nowrap;" data-ls="offsetxin:0;delayin:1800;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:-2;" src="~/Images/two.png" alt="">
                        <img class="ls-l" style="top:250px;left:571px;white-space: nowrap;" data-ls="offsetxin:0;delayin:2200;rotatexin:90;rotateyin:90;offsetxout:0;parallaxlevel:3;" src="~/Images/life.png" alt="">
                        <img class="ls-l" style="top:355px;left:518px;white-space: nowrap;" data-ls="delayin:2500;parallaxlevel:-2;" src="~/Images/cup-divider.png" alt="">
                        <img class="ls-l" style="top:405px;left:509px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:-100;delayin:3000;offsetxout:0;offsetyout:100;parallaxlevel:3;" src="~/Images/lg.gif" alt="">
                        @*<img class="ls-l" style="top:220px;left:370px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:150;delayin:2000;easingin:swing;offsetxout:0;offsetyout:-150;parallaxlevel:3;" src="~/Images/boy1.png" alt="">*@
                        <img class="ls-l" style="top:70px;left:-59px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:150;delayin:2700;easingin:easeInBack;offsetxout:0;offsetyout:-150;parallaxlevel:5;" src="~/Images/12.gif" alt="">
                        <img class="ls-l" style="top:55px;left:740px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:150;delayin:2300;easingin:easeOutQuart;offsetxout:0;offsetyout:-150;parallaxlevel:3;" src="~/Images/file.gif" alt="">
                        @*<img class="ls-l" style="top:85px;left:955px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:150;delayin:2500;offsetxout:0;offsetyout:-150;parallaxlevel:4;" src="~/Images/boy3.png" alt="">*@
                    </div>
                    <div class="ls-slide" data-ls="slidedelay:7000; transition2d: all;">
                        <img src="~/Images/vvv.jpeg" class="ls-bg" alt="Slide background" />
                         <a href="@Url.Action("SignupForm", "SignupForm")" class="ls-l" style="top:200px;left:620px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:200;delayin:3500;offsetxout:0;offsetyout:150;"><img src="~/Images/file.png" alt=""></a>
                       
                        <img class="ls-l" style="top:23px;left:998px;white-space: nowrap;" data-ls="delayin:1500;scaleyin:3;transformoriginin:0% 50% 0;parallaxlevel:2;" src="~/Images/b-cloud.png" alt="">
                        <img class="ls-l" style="top:23px;left:998px;white-space: nowrap;" data-ls="delayin:1500;scaleyin:3;transformoriginin:0% 50% 0;parallaxlevel:2;" src="~/Images/butterfly.png" alt="">
                        <img class="ls-l" style="top:67px;left:679px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:-100;delayin:2000;rotateyin:30;parallaxlevel:5;" src="~/Images/b-swirl.png" alt="">
                        
                         <a href="@Url.Action("English", "English")" class="ls-l" style="top:78px;left:98px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:200;delayin:1500;offsetxout:0;offsetyout:150;transformoriginin:0% 50% 0;parallaxlevel:8;"><img src="~/Images/p1.gif" alt=""></a>
                         <img class="ls-l" style="top:170px;left:50px;white-space: nowrap;" data-ls="delayin:1500;rotateyin:30;transformoriginin:0% 50% 0;parallaxlevel:8;" src="~/Images/english.gif" alt="">

                        <a href="@Url.Action("Arts", "Arts")" class="ls-l" style="top:350px;left:98px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:200;delayin:3000;offsetxout:0;offsetyout:150;transformoriginin:0% 50% 0;parallaxlevel:8;"><img src="~/Images/p2.gif" alt=""></a>
                         <img class="ls-l" style="top:450px;left:50px;white-space: nowrap;" data-ls="delayin:3000;rotateyin:30;transformoriginin:0% 50% 0;parallaxlevel:8;" src="~/Images/arts.gif" alt="">
 


                        <a href="@Url.Action("G_K", "G_K")" class="ls-l" style="top:78px;left:430px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:200;delayin:1500;offsetxout:0;offsetyout:150;transformoriginin:0% 50% 0;parallaxlevel:8;"><img src="~/Images/p3.gif" alt=""></a>
                         <img class="ls-l" style="top:170px;left:400px;white-space: nowrap;" data-ls="delayin:1500;rotateyin:30;transformoriginin:0% 50% 0;parallaxlevel:8;" src="~/Images/general.gif" alt="">


                       <a href="@Url.Action("Maths", "Maths")" class="ls-l" style="top:350px;left:430px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:200;delayin:3000;offsetxout:0;offsetyout:150;transformoriginin:0% 50% 0;parallaxlevel:8;"><img src="~/Images/p4.gif" alt=""></a>
                         <img class="ls-l" style="top:450px;left:400px;white-space: nowrap;" data-ls="delayin:3000;rotateyin:30;transformoriginin:0% 50% 0;parallaxlevel:8;" src="~/Images/maths.gif" alt="">
 




                        @*<img class="ls-l" style="top:78px;left:50px;white-space: nowrap;" data-ls="offsetxin:-200;delayin:2000;" src="~/Images/b-comment.png" alt="">
                        *@
                      
                     @*   <img class="ls-l" style="top:222px;left:96px;white-space: nowrap;" data-ls="delayin:3000;rotateyin:30;" src="~/Images/text-desc.png" alt="">
                     *@     <img class="ls-l" style="top:395px;left:297px;white-space: nowrap;" data-ls="delayin:3700;" src="~/Images/b-tick.png" alt="">
                        <img class="ls-l" style="top:421px;left:100px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:200;delayin:4000;offsetxout:0;offsetyout:150;" src="~/Images/chalk-effect.png" alt="">
                        <img class="ls-l" style="top:30px;left:2px;white-space: nowrap;" data-ls="delayin:3100;rotateyin:90;parallaxlevel:3;" src="~/Images/girl.png" alt="">
                        <img class="ls-l" style="top:498px;left:13px;white-space: nowrap;" data-ls="offsetxin:-100;delayin:3500;parallaxlevel:4;" src="~/Images/b-bulb.png" alt="">
                        <img class="ls-l" style="top:524px;left:507px;white-space: nowrap;" data-ls="delayin:2300;rotateyin:180;parallaxlevel:-3;" src="~/Images/b-glass.png" alt="">
                    </div>
                    
                </div>
            </div>
            
            <!--slider ends-->
            <audio controls loop autoplay>
                            <source src="~/Music/12.mp3" type="audio/mp3" />
                        </audio>
            
            @* .........login.................. *@
            <div>
                @if (Session["LogedUserUserName"] != null)
                {
                    <text>
                Welcome @Session["LogedUserUserName"].ToString()
                </text>
                }
            </div>

            @* ............ *@
            <!--primary starts-->
            <section id="primary" class="content-full-width">
                <!--container starts-->
                <div class="container">
                    
                    <div class="dt-sc-one-fourth column first">
                        <div class="dt-sc-ico-content type1">
                            <div class="icon">
                                <span class="icon-outer">
                                    <img src="~/Images/service1.jpg" alt="" title="">
                                   @* <span class="infolayer">
                                        <a href="index.html#"><i class="fa fa-link"></i></a>
                                    </span>*@
                                </span>
                            </div>
                            <h4><a href="index.html">English Learning</a></h4>
                           @* <p>Curabitur ultrices posuere mattis. Nam ullamcorper, diam sit amet euismod pelleo ntesque, eros risus rhoncus libero, invest tibulum nisl ligula</p>
                        *@</div>
                    </div>
                   <hr / class="hr1">
                    <div class="dt-sc-one-fourth column">
                        <div class="dt-sc-ico-content type1">
                            <div class="icon">
                                <span class="icon-outer">
                                    <img src="~/Images/service2.jpg" alt="" title="">
                                   @* <span class="infolayer">
                                        <a href="index.html#"><i class="fa fa-link"></i></a>
                                    </span>*@
                                </span>
                            </div>
                            <h4><a href="index.html">Maths Learning</a></h4>
                           @* <p>Decor ostdcaer urabitur ultrices posuere mattis. Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, invest tibulum nisl ligula</p>
                        *@</div>
                    </div>
                   <hr / class="hr2"> 
                    <hr /class="hr3">
                    <div class="dt-sc-one-fourth column">
                        <div class="dt-sc-ico-content type1">
                            <div class="icon">
                                <span class="icon-outer">
                                    <img src="~/Images/service3.jpg" alt="" title="">
                                   @* <span class="infolayer">
                                        <a href="index.html#"><i class="fa fa-link"></i></a>
                                    </span>*@
                                </span>
                            </div>
                            <h4><a href="index.html">General knowledge</a></h4>
                          @*  <p>Rabitur ultrices posuere mattis. Nam ullamcorper, diam sit  euismod pelleo ntesque, eros risus rhoncus libero, invest tibulum nisl gedretu osterftra ligula</p>
                        *@</div>
                    </div>
                    <hr /class="hr4">
                    <hr /class="hr3">
                    <div class="dt-sc-one-fourth column">
                        <div class="dt-sc-ico-content type1">
                            <div class="icon">
                                <span class="icon-outer">
                                    <img src="~/Images/service4.jpg" alt="" title="">
                                  @*  <span class="infolayer">
                                        <a href="index.html#"><i class="fa fa-link"></i></a>
                                    </span>*@
                                </span>
                            </div>
                            <h4><a href="index.html">Arts & Craft</a></h4>
                          @*  <p>Curabitur ultrices posuere mattis. Nam ullamcorper, diam sit amet euismod pelleo ntesque, eros risus rhoncus libero, invest tibulum nisl ligula</p>
                        *@</div>
                    </div>
                    <hr /class="hr4">
                    <hr /class="hr2">
                    <hr /class="hr1">
                </div>
                <!--container ends-->
                <div class="dt-sc-hr"></div>
                <!--fullwidth-background starts-->
                <section class="fullwidth-background dt-sc-parallax-section turquoise-bg">
                    <!--container starts-->
                    <div class="container">
                        <!--dt-sc-one-half starts-->
                        @*<div class="dt-sc-one-half column first">
                            <h2>Play As You Learn</h2>
                            <!--dt-sc-one-half starts-->
                            <div class="dt-sc-one-half column first">
                                
                                <div class="dt-sc-ico-content type2">
                                    <div class="icon"> 
                                        <span class="fa fa-glass"> </span> 
                                    </div>
                                    <h4><a href="index.html#" target="_blank"> English Summer Camp </a></h4>
                                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                </div>
                                <div class="dt-sc-hr-very-small"></div>
                                <div class="dt-sc-ico-content type2">
                                    <div class="icon"> 
                                        <span class="fa fa-pencil"> </span> 
                                    </div>
                                    <h4><a href="index.html#" target="_blank"> Drawing & Painting </a></h4>
                                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                </div>
                                <div class="dt-sc-hr-very-small"></div>
                                <div class="dt-sc-ico-content type2">
                                    <div class="icon"> 
                                        <span class="fa fa-bullseye"> </span> 
                                    </div>
                                    <h4><a href="index.html#" target="_blank"> Swimming Camp </a></h4>
                                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                </div>
                            
                            </div>
                            <!--dt-sc-one-half ends-->
                            
                            <!--dt-sc-one-half starts-->
                            <div class="dt-sc-one-half column">
                                
                                <div class="dt-sc-ico-content type2">
                                    <div class="icon"> 
                                        <span class="fa fa-tachometer"> </span> 
                                    </div>
                                    <h4><a href="index.html#" target="_blank"> Sports Camp </a></h4>
                                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                </div>
                                <div class="dt-sc-hr-very-small"></div>
                                <div class="dt-sc-ico-content type2">
                                    <div class="icon"> 
                                        <span class="fa fa-magic"> </span> 
                                    </div>
                                    <h4><a href="index.html#" target="_blank"> Personalizing </a></h4>
                                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                </div>
                                <div class="dt-sc-hr-very-small"></div>
                                <div class="dt-sc-ico-content type2">
                                    <div class="icon"> 
                                        <span class="fa fa-music"> </span> 
                                    </div>
                                    <h4><a href="index.html#" target="_blank"> Sing & Dance </a></h4>
                                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                </div>
                            
                            </div>
                            <!--dt-sc-one-half ends-->
                        </div>
                        <!--dt-sc-one-half ends-->
                        
                        <!--dt-sc-one-half starts-->
                        <div class="dt-sc-one-half column">
                            <h2>With Music4Kids, music is child's play!</h2>
                            <div class="add-slider-wrapper">
                                <ul class="add-slider">
                                    <li> <img src="~/Images/add1.jpg" alt="" title=""> </li>
                                    <li> <img src="~/Images/add2.jpg" alt="" title=""> </li>
                                    <li> <img src="~/Images/add1.jpg" alt="" title=""> </li>
                                </ul>
                            </div>
                        </div>
                        <!--dt-sc-one-half ends-->
                    </div>*@
                    <!--container ends-->
                </section>
                <!--fullwidth-background ends-->
                <div class="dt-sc-hr"></div>
                <!--container starts-->
                <div class="container">
                    <h2 class="dt-sc-hr-green-title">Our-View</h2>
                    
                    <!--portfolio-content starts-->
                    <div class="front-portfolio-container">
                       <div class="portfolio-content portfolio-content1">
                           <div class="front-portfolio">
                              <div class="portfolio-outer">
                                  <div class="portfolio-thumb">
                                  	  <img src="~/Images/ab.jpg" alt="" title="">
                                      <div class="image-overlay">
                                        <h5><a href="portfolio-detail.html" > <h2 class="dt-sc-hr-green-title">Hit</h2></a></h5>
                                      @*  <a href="portfolio-detail.html" class="link"><span class="fa fa-link"></span></a>*@
                                        @*<a href="~/Images/image1.jpg" data-gal="prettyPhoto[gallery]" class="zoom">*@@*<span class="fa fa-search"></span>*@</a>
                                    </div>
                                  </div>
                              </div>
                           </div>
                       </div>
                       <div class="portfolio-content portfolio-content2">
                           <div class="front-portfolio">
                              <div class="portfolio-outer">
                                  <div class="portfolio-thumb">
                                  	  <img src="~/Images/ac.jpg" alt="" title="">	
                                      <div class="image-overlay">
                                        <h5><a href="portfolio-detail.html"><h2 class="dt-sc-hr-green-title">Hit</h2></a></h5>
                                        @*<a href="portfolio-detail.html" class="link"><span class="fa fa-link"></span></a>
                                        <a href="~/Images/image2.jpg" data-gal="prettyPhoto[gallery]" class="zoom"><span class="fa fa-search"></span></a>
                                    *@</div>
                                  </div>
                              </div>
                           </div>
                       </div>
                      
                       <div class="portfolio-content portfolio-content3">
                           <div class="front-portfolio">
                              <div class="portfolio-outer">
                                  <div class="portfolio-thumb">
                                      <img src="~/Images/ad.jpg" alt="" title="">
                                      <div class="image-overlay">
                                        <h5><a href="portfolio-detail.html"><h2 class="dt-sc-hr-green-title">Hit</h2></a></h5>
                                      @*  <a href="portfolio-detail.html" class="link"><span class="fa fa-link"></span></a>
                                        <a href="~/Images/image3.jpg" data-gal="prettyPhoto[gallery]" class="zoom"><span class="fa fa-search"></span></a>
                                    *@</div>
                                  </div>
                              </div>
                           </div>
                       </div>
                       
                       <div class="portfolio-content portfolio-content4">
                           <div class="front-portfolio">
                              <div class="portfolio-outer">
                                  <div class="portfolio-thumb">
                                      <img src="~/Images/ae.jpg" alt="" title="">
                                      <div class="image-overlay">
                                        <h5><a href="portfolio-detail.html"><h2 class="dt-sc-hr-green-title">Hit</h2></a></h5>
                                      @*  <a href="portfolio-detail.html" class="link"><span class="fa fa-link"></span></a>
                                        <a href="~/Images/image4.jpg" data-gal="prettyPhoto[gallery]" class="zoom"><span class="fa fa-search"></span></a>
                                    *@</div>
                                  </div>
                              </div>
                           </div>
                       </div>
                      
                       <div class="portfolio-content portfolio-content5">
                           <div class="front-portfolio">
                              <div class="portfolio-outer">
                                  <div class="portfolio-thumb">
                                      <img src="~/Images/af.jpg" alt="" title="">
                                      <div class="image-overlay">
                                        <h5><a href="portfolio-detail.html"><h2 class="dt-sc-hr-green-title">Hit</h2></a></h5>
                                      @*  <a href="portfolio-detail.html" class="link"><span class="fa fa-link"></span></a>
                                        <a href="~/Images/image5.jpg" data-gal="prettyPhoto[gallery]" class="zoom"><span class="fa fa-search"></span></a>
                                    *@</div>
                                  </div>
                              </div>
                           </div>
                       </div>
                      
                       <div class="portfolio-content portfolio-content6">
                           <div class="front-portfolio">
                              <div class="portfolio-outer">
                                  <div class="portfolio-thumb">
                                      <img src="~/Images/ag.jpg" alt="" title="">
                                      <div class="image-overlay">
                                        <h5><a href="portfolio-detail.html"><h2 class="dt-sc-hr-green-title">Hit</h2></a></h5>
                                      @*  <a href="portfolio-detail.html" class="link"><span class="fa fa-link"></span></a>
                                        <a href="~/Images/image6.jpg" data-gal="prettyPhoto[gallery]" class="zoom"><span class="fa fa-search"></span></a>
                                    *@</div>
                                  </div>
                              </div>
                           </div>
                       </div>
                              
                       <div class="portfolio-content portfolio-content7">
                           <div class="front-portfolio">
                              <div class="portfolio-outer">
                                  <div class="portfolio-thumb">
                                      <img src="~/Images/ah.jpeg" alt="" title=""> 		
                                      <div class="image-overlay">
                                        <h5><a href="portfolio-detail.html"><h2 class="dt-sc-hr-green-title">Hit</h2></a></h5>
                                      @*  <a href="portfolio-detail.html" class="link"><span class="fa fa-link"></span></a>
                                        <a href="~/Images/image7.jpg" data-gal="prettyPhoto[gallery]" class="zoom"><span class="fa fa-search"></span></a>
                                    *@</div>
                                  </div>
                              </div>
                           </div>
                       </div>
                       <div class="dt-sc-hr-small"></div>
                       <div class="aligncenter">
                           <a href="index.html#" class="dt-sc-button medium mustard"> Hit here to view all @*<span class="fa fa-chevron-circle-right"> </span>*@</a>        
                       </div>
                    </div>
                       
                    <!--front-portfolio-container ends-->
                    
                </div>
                <!--container ends-->
                
                <div class="dt-sc-hr"></div>
                <!--fullwidth-background starts-->
                <section class="fullwidth-background dt-sc-parallax-section orange-bg">
                    <!--container starts-->
                    <div class="container">
                        <h2 class="dt-sc-hr-white-title">Recent Additions</h2>
                        <div class="column dt-sc-one-half first">
                            <article class="blog-entry">
                                <div class="blog-entry-inner">
                                    <div class="entry-meta">
                                        <a href="blog-detail.html" class="blog-author"><img src="~/Images/rounded-bg-img.jpg" alt="" title=""></a>
                                        <div class="date">
                                            <span> 27 </span> 
                                            <p> Aug <br> 2014 </p> 
                                        </div>
                                       @* <a href="index.html#" class="comments">
                                            12 <span class="fa fa-comment"> </span>
                                        </a>
                                        <a href="index.html#" class="entry_format"><span class="fa fa-picture-o"></span></a>	
                                  *@  </div>		
                                    <div class="entry-thumb">
                                        <a href="blog-detail.html"><img src="~/Images/blog_img1.jpg" alt="" title=""></a>
                                    </div>		
                                    <div class="entry-details">	
                                        <div class="entry-title">
                                            <h3><a href="blog-detail.html"> Activities Improves Mind </a></h3>
                                        </div>			
                                        <!--entry-metadata ends-->	
                                        <div class="entry-body">
                                            <p>Roin bibendum nibhsds. Nuncsdsd fermdada msit ametadasd consequat. Praes porr nulla sit amet dui lobortis, id venenatis nibh accums.</p>
                                        </div>	 		
                                        <a href="blog-detail.html" class="dt-sc-button small"> Read More @*<span class="fa fa-chevron-circle-right"> </span>*@</a>		
                                    </div>	
                                </div>
                            </article>
                        </div>
                        <!--dt-sc-one-half ends-->
                        <div class="column dt-sc-one-half">
                            <article class="blog-entry">
                                <div class="blog-entry-inner">
                                    <div class="entry-meta">
                                        <a href="blog-detail.html" class="blog-author"><img src="~/Images/rounded-bg-img.jpg" alt="" title=""></a>
                                        <div class="date">
                                            <span> 27 </span> 
                                            <p> Aug <br> 2014 </p> 
                                        </div>
                                       @* <a href="index.html#" class="comments">
                                            12 <span class="fa fa-comment"> </span>
                                        </a>
                                        <a href="index.html#" class="entry_format"><span class="fa fa-picture-o"></span></a>	
                                 *@   </div>		
                                    <div class="entry-thumb">
                                        <a href="blog-detail.html"><img src="~/Images/blog_img2.jpg" alt="" title=""></a>
                                    </div>		
                                    <div class="entry-details">	
                                        <div class="entry-title">
                                            <h3><a href="blog-detail.html"> Weekly Reader Zone </a></h3>
                                        </div>			
                                        <!--entry-metadata ends-->	
                                        <div class="entry-body">
                                            <p>Iid venenatis nibh accums. Doinbibe ndum nibhsds. Nuncsdsd fermdada msit ametadasd consequat. Praes porr nulla sit amet dui lobortis, id venenatis nibh accumsan...</p>
                                        </div>	 		
                                        <a href="blog-detail.html" class="dt-sc-button small"> Read More @*<span class="fa fa-chevron-circle-right"> </span>*@</a>		
                                    </div>	
                                </div>
                            </article>
                        </div>
                        <!--dt-sc-one-half ends-->
                    </div>
                    <!--container ends-->    
                </section>
                <!--fullwidth-background ends-->
               @* <div class="dt-sc-hr"></div>*@
                <!--container starts-->
                @*<div class="container">
                    <h2 class="dt-sc-hr-green-title">Our Staffs</h2>
                    
                    <div class="column dt-sc-one-fourth first">
                        <div class="dt-sc-team">	
                            <div class="image">
                                <img class="item-mask" src="~/Images/mask.png" alt="" title="">
                                <img src="team1.jpg" alt="" title="">
                                <div class="dt-sc-image-overlay">
                                	<a href="index.html#" class="link"><span class="fa fa-facebook"></span></a>
                                    <a href="index.html#" class="zoom"><span class="fa fa-twitter"></span></a>
                                </div>
                            </div>
                            <div class="team-details">
                                <h4> Jack Daniels </h4>
                                <h6> Senior Supervisor </h6>
                                <p> Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. </p>
                            </div>
                        </div>
                    </div>
                    <div class="column dt-sc-one-fourth">
                        <div class="dt-sc-team">	
                            <div class="image">
                                <img class="item-mask" src="~/Images/mask.png" alt="" title="">
                                <img src="~/Images/team2.jpg" alt="" title="">
                                <div class="dt-sc-image-overlay">
                                	<a href="index.html#" class="link"><span class="fa fa-facebook"></span></a>
                                    <a href="index.html#" class="zoom"><span class="fa fa-twitter"></span></a>
                                </div>
                            </div>
                            <div class="team-details">
                                <h4> Linda Glendell </h4>
                                <h6> Teaching Professor </h6>
                                <p> Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. </p>
                            </div>
                        </div>
                    </div>
                    <div class="column dt-sc-one-fourth">
                        <div class="dt-sc-team">	
                            <div class="image">
                                <img class="item-mask" src="~/Images/mask.png" alt="" title="">
                                <img src="~/Images/team3.jpg" alt="" title="">
                                <div class="dt-sc-image-overlay">
                                	<a href="index.html#" class="link"><span class="fa fa-facebook"></span></a>
                                    <a href="index.html#" class="zoom"><span class="fa fa-twitter"></span></a>
                                </div>
                            </div>
                            <div class="team-details">
                                <h4> Kate Dennings </h4>
                                <h6> Children Diet </h6>
                                <p> Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. </p>
                            </div>
                        </div>
                    </div>
                    <div class="column dt-sc-one-fourth">
                        <div class="dt-sc-team">	
                            <div class="image">
                                <img class="item-mask" src="~/Images/mask.png" alt="" title="">
                                <img src="~/Images/team4.jpg" alt="" title="">
                                <div class="dt-sc-image-overlay">
                                	<a href="index.html#" class="link"><span class="fa fa-facebook"></span></a>
                                    <a href="index.html#" class="zoom"><span class="fa fa-twitter"></span></a>
                                </div>
                            </div>
                            <div class="team-details">
                                <h4> Kristof Slinghot </h4>
                                <h6> Management </h6>
                                <p> Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. </p>
                            </div>
                        </div>
                    </div>
                
                </div>*@
                <!--container ends-->
                
                @*<div class="dt-sc-hr"></div>*@
                <!--fullwidth-background starts-->
             @*   <section class="fullwidth-background dt-sc-parallax-section product_bg">*@
                    <!--container starts-->
                    @*<div class="container">
                        <h2 class="dt-sc-hr-white-title">Recent Products</h2>
                        <ul class="products">
                            <li class="dt-sc-one-fourth column first">
                                <div class="product-thumb">
                                    <a href="index.html#">
                                        <img src="~/Images/product1.jpg" alt="" title="">
                                    </a>  
                                    <span class="sale"> Sale! </span>
                                    <div class="image-overlay">  
                                        <div class="product-button">
                                            <a href="index.html#" class="add-cart-btn"> Add to cart </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details">
                                    <h5><a href="index.html#"> Ellents Style Grade </a></h5>
                                    <span class="price"> $20.00 </span>
                                </div>
                            </li>
                            <li class="dt-sc-one-fourth column">
                                <div class="product-thumb">
                                    <a href="index.html#">
                                        <img src="~/Images/product2.jpg" alt="" title="">
                                    </a>  
                                    <div class="image-overlay">  
                                        <div class="product-button">
                                            <a href="index.html#" class="add-cart-btn"> Add to cart </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details">
                                    <h5><a href="index.html#"> Ellents Style Grade </a></h5>
                                    <span class="price"> $20.00 </span>
                                </div>
                            </li>
                            <li class="dt-sc-one-fourth column">
                                <div class="product-thumb">
                                    <a href="index.html#">
                                        <img src="~/Images/product3.jpg" alt="" title="">
                                    </a>  
                                    <span class="sale"> Sale! </span>
                                    <div class="image-overlay">  
                                        <div class="product-button">
                                            <a href="index.html#" class="add-cart-btn"> Add to cart </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details">
                                    <h5><a href="index.html#"> Ellents Style Grade </a></h5>
                                    <span class="price"> $20.00 </span>
                                </div>
                            </li>
                            <li class="dt-sc-one-fourth column">
                                <div class="product-thumb">
                                    <a href="index.html#">
                                        <img src="~/Images/product4.jpg" alt="" title="">
                                    </a>  
                                    <div class="image-overlay">  
                                        <div class="product-button">
                                            <a href="index.html#" class="add-cart-btn"> Add to cart </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details">
                                    <h5><a href="index.html#"> Ellents Style Grade </a></h5>
                                    <span class="price"> $20.00 </span>
                                </div>
                            </li>
                        </ul>
                    </div>*@
                    <!--container ends-->
               @* </section>*@
                <!--fullwidth-background ends-->
            </section>
            <!--primary ends-->
        </div>
        <!--main ends-->
        
        
    </div>
    <!--wrapper ends-->
    <a href="index.html" title="Go to Top" class="back-to-top">To Top ↑</a>
 </body>
</html>
